<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/style-register.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

  <header>
    <div class="top-header">
      <div class="logo">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo">
      </div>
      <form class="form" action="#" method="get">
        <input class="search-bar" type="text" placeholder="Buscar productos, marcas y más"></input>
        <button class="fas fa-search"></button>
      </form>

      <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>

    </div>


    <nav>
      <div class="menu1">
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
      </div>
      <div class="menu2">
        <ul>
          <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
          <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
      </div>
    </nav>

    <div class="burger-menu">
      <i class="fas fa-bars burguer"></i>
    </div>

  </header>
  <main>

    <form action="/login" method="POST">
      <div class="register-container">
        <h1 class="title">Register</h1>
        <input type="text" class="input" name="nombreApellido" placeholder="Nombre y Apellido" minlength="6" required>
        <input type="email" class="input" name="user" placeholder="Nombre de usuario" minlength="12" required>
        <label for="fecha-nac"><b>Fecha de nacimiento</b></label>
        <input type="date" class="input" name="fecha-nac" id="fecha-nac" required>
        <input type="text" class="input" name="direccion" placeholder="Domicilio" required>

        <p>Perfil del usuario</p>
        <div class="profile">
          <input type="radio" class="input" name="profile" value="buy" id="buy" checked>
          <label for="buy">Comprador</label>
          <input type="radio" class="input" name="profile" value="sell" id="sell">
          <label for="sell">Vendedor</label>
        </div>

        <p>Intereses</hp>
        <div class="interests">
          <div>
            <input type="checkbox" class="input" name="interests" value="a" id="a" checked>
            <label for="a">Electro</label>
          </div>
          <div>
            <input type="checkbox" class="input" name="interests" value="b" id="b">
            <label for="b">Moda</label>
          </div>
          <div>
            <input type="checkbox" class="input" name="interests" value="c" id="c">
            <label for="c">Hogar</label>
          </div>
          <div>
            <input type="checkbox" class="input" name="interests" value="d" id="d">
            <label for="d">Juguetería</label>
          </div>
          <div>
            <input type="checkbox" class="input" name="interests" value="e" id="e">
            <label for="e">Vida sana</label>
          </div>
        </div>

        <p>Elegí tu foto de usuario</p>
        <input type="file" name="avatar">

        <input type="password" class="input" name="pass" placeholder="Elegí tu contraseña" required>
        <input type="password" class="input" name="pass_confirm" placeholder="Confirmá tu contraseña" required>


        <div class="account-buttons">

          <button type="submit" class="account-sub">Registrate</button>
          <button type="reset" class="account res">Borrar</button>


        </div>






      </div>
    </form>
  </main>

  <footer>
    <section>
      <p><i class="fa fa-credit-card"></i></p>
      <h2>Pagá con tarjeta o en efectivo</h2>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
        seguro!</p>
    </section>
    <section>
      <p><i class="fa fa-gift"></i></p>
      <h2>Envío gratis desde $ 2.500</h2>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
        Mercado Puntos.</p>
    </section>
    <section>
      <p><i class="fa fa-user-shield"></i></p>
      <h2>Seguridad, de principio a fin</h2>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </section>
    <section>
      <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
      <p></p>
    </section>

  </footer>


</body>

</html>